.sales_container
  {
  padding:30px 15px 50px 30px;


  .widget.table_list
    {
    height:1000px;
    width:100%;
    }


  .form_container
    {
    width:300px;

    md-input-container:nth-child(1)
      {
      display:block;
      width:100%;
      }


    .price_qty
      {
      width:100%;
      display:flex;
      justify-content:space-between;

      md-input-container
        {
        width:100px;
        }
      }

    }


  .table_container table
    {
    width:600px;
    thead tr th
      {
      border-bottom:1px solid gray;
      }

    th, td
      {
      text-align:center;
      }

    .th
      {
      display:inline-block;
      width:30%;
      text-align:center;
      }

    .td
      {
      width:30%;
      display:inline-block;
      text-align:center;
      }

    }


  }